@model IEnumerable<Inspinia_MVC5.Provincia>

@{
    ViewBag.Title = "Provincia";
}



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Provincia</h2>
        <ol class="breadcrumb">
            <li class="active">

            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Provincias</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Nueva Provincia", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Codigo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ProvinciaId }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Editar", "Edit", new { id = item.ProvinciaId }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Borrar", "Delete", new { id = item.ProvinciaId }, new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}
